<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
	window.onload = function () {
		var vm1 = new Vue({
			el : '#test1',
			data : {
				a1 : 100,
				a2 : 200
			},
			methods : {
				add_method : function () {
					console.log('add_method 사용함')
					return this.a1+this.a2
				},
				setValue : function () {
					this.a1 = 1000
					this.a2 = 2000
				}
			},
			computed : {
				test_computed : function () {
					console.log('test_computed 사용함')
					return this.a1+this.a2
				}
			}
		})
		
	}
</script>
</head>
<body>

	<div id="test1">
		<h3>a1 : {{a1}}</h3>
		<h3>a2 : {{a2}}</h3>
		<h3>a1 + a2 : {{a1 + a2}}</h3>
		<h3>a1 + a2 : {{add_method()}}</h3>
		<h3>a1 + a2 : {{add_method()}}</h3>
		<h3>a1 + a2 : {{add_method()}}</h3>
		<h3>a1 + a2 : {{test_computed}}</h3>
		<h3>a1 + a2 : {{test_computed}}</h3>
		<h3>a1 + a2 : {{test_computed}}</h3>
		<button type="button" @click='setValue'>setvalue</button>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>